<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Python test task">
  <meta name="author" content="Test">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <style type="text/css">  
    .center-block {
        width:80%;
        margin-top: 30px;
        padding:10px;  
        background-color:#eceadc;
    }
    .center {
		margin: auto;
		width: 50%;
		padding: 10px;
	}
    #userlisttable>tbody>tr>td a{
        display: block;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">  
      <div class="center-block">
        {% block content %}
        {% endblock %}
      </div>
      
    </div>
  </div>
</body>
{% block extra_js %}
{% endblock %}
</html>
