{% extends "base.html" %}

{% block title %}Confirm delete user{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete user "{{ object }}"?</p>
    <input class="btn btn-default" type="submit" value="Confirm" />
</form>
{% endblock %}
