{% extends "base.html" %}

{% block content %}
<span class="pull-right"><a href="{% url 'user-list' %}">User list</a></span>
<h1>User Details</h1>
<p><strong>Username:</strong> {{ object.username }}</p>
<p><strong>Date of Birth:</strong> {{ object.birthday }}</p>

<button class="btn btn-default"><a href="{% url 'delete-user' object.id %}">Delete User</a></button>
<button class="btn btn-default"><a href="{% url 'update-user' object.id %}">Edit User</a></button>
{% endblock %}
