{% extends "base.html" %}
{% load account_tags %}

{% block title %}User list{% endblock %}

{% block content %}
<div class="table-responsive">
  <table id="userlisttable" class="table text-centered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Birthday</th>
        <th>Eligible</th>
        <th>Random Number</th>
        <th>BizzFuzz</th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
      <tr>
        <td><a href="{% url 'user-details' user.id %}">{{ user.username }}</a></td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.birthday|eligible }}</td>
        <td>{{ user.random_number }}</td>
        <td>{{ user.random_number|bizzfuzz }}</td>
      </tr>
	  {% empty %}
	  <tr>
	    <td colspan="5">No users found!.</td>
	  </tr>
	  {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-default"><a href="{% url 'create-user' %}">Create a new User</a></button>
<div class="text-center">
<span><a href="{% url 'user-list-export' %}">Export</a></span>
</div>
{% endblock %}
