{% extends "base.html" %}

{% block content %}
<h1 class="center">Create new User</h1>
<form id="userForm" action="{% url 'create-user' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group {% if form.username.errors %} has-error {% endif %}">
        <label class="col-xs-3 control-label">Username</label>

        <div class="col-xs-5">
          {{ form.username }}
          {% for error in form.username.errors %}
		    <span class="help-block">{{ error|escape }}</span>
		  {% endfor %}
        </div>		
    </div>

    <div class="form-group {% if form.birthday.errors %} has-error {% endif %}">
        <label class="col-xs-3 control-label">Birthday</label>
        <div class="col-xs-5">
          {{ form.birthday }}
          {% for error in form.birthday.errors %}
		    <span class="help-block">{{ error|escape }}</span>
		  {% endfor %}
        </div> 
    </div>
    
    <div class="form-group {% if form.password1.errors %} has-error {% endif %}">
        <label class="col-xs-3 control-label">Password1</label>
        <div class="col-xs-5">
          {{ form.password1 }}
          {% for error in form.password1.errors %}
		    <span class="help-block">{{ error|escape }}</span>
		  {% endfor %}
        </div> 
    </div>
    
    <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
        <label class="col-xs-3 control-label">Password2</label>
        <div class="col-xs-5">
          {{ form.password2 }}
          {% for error in form.password2.errors %}
		    <span class="help-block">{{ error|escape }}</span>
		  {% endfor %}
        </div> 
    </div>
    
    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    
</form>
{% endblock %}

{% block extra_js %}

<script>
$(document).ready(function() {
    $('#id_birthday').datepicker({
                    format: "mm/dd/yyyy"
                });
     
    $("input").addClass("form-control")
 });
 </script>    
{% endblock %}
